{
  "env": {
    "rollup": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "react"
      ]
    }
    ,
    "test": {
      "presets": [
        "es2015",
        "react"
      ]
    }
  }
}